<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.moscowitjobs"
        versionCode = "11" 
        version     = "1.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>Moscow IT Jobs</name>

    <description>
        IT vacancies in Moscow. 
    </description>
    
    
    <!--gap:plugin name="com.purplebrain.adbuddiz.sdk" source="plugins.cordova.io" />
    <gap:plugin name="nl.x-services.plugins.socialsharing" source="plugins.cordova.io" /-->
    
    <author href="https://build.phonegap.com" email="valery.gourov@gmail.com">
        VG 
    </author>

</widget>
