<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.basealtnews"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>BaseALT News</name>

  <description>
      News feed from basealt.ru
  </description>

  <author email="va1ery@ya.ru">
      Valery Gourov
  </author>

</widget>
